@import url(https://fonts.googleapis.com/css2?family=Montserrat&display=swap);

@tailwind base;
@tailwind components;
@tailwind utilities;

*:focus {
    outline: none;
}

select:not([size]) {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMCIgaGVpZ2h0PSI2IiBmaWxsPSJub25lIiB2aWV3Qm94PSIwIDAgMTAgNiI+PGcgY2xpcC1wYXRoPSJ1cmwoI2EpIj48cGF0aCBzdHJva2U9IiMwMDAiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIyIiBkPSJtMSAxIDQgNCA0LTQiLz48L2c+PGRlZnM+PGNsaXBQYXRoIGlkPSJhIj48cGF0aCBmaWxsPSIjZmZmIiBkPSJNMCAwaDEwdjZIMHoiLz48L2NsaXBQYXRoPjwvZGVmcz48L3N2Zz4=");
    background-position: right .75rem center;
    background-repeat: no-repeat;
    background-size: .75em .75em;
    padding-right: 2.5rem;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
}

body {
    line-height: inherit;
    padding: 24px;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    min-width: 100vw;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background: hsla(221, 59%, 75%, 1);
    background: linear-gradient(90deg, hsla(221, 59%, 75%, 1) 0%, hsla(216, 40%, 58%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(221, 59%, 75%, 1) 0%, hsla(216, 40%, 58%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(221, 59%, 75%, 1) 0%, hsla(216, 40%, 58%, 1) 100%);
}